<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon App{% endblock %}</title>
</head>
<body>
    {% for message in app.flashes('success') %}
        <div style="color: green">{{ message }}</div>
    {% endfor %}
    
    {% block body %}{% endblock %}
</body>
</html>